<section class="sample-text-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 pb-50 header-text text-center">
                <h1 class="mb-10">
                    OUR HISTORY
                </h1>
                <h4 class="mb-10">
                    SHOWS OUR LIFESTYLE
                </h4>                
            </div>
        </div>        
        <p class="sample-text">
            GBDJB Accountancy & Consultancy has grown to become one of the region's most successful accountants and tax consultancy offices. From simple beginnings, when we were helping the region's self-employed to file their tax returns, we have developed an excellent reputation for providing accountancy services and sorting out tax questions for both individual clients and businesses.
        </p>
    </div>
</section>
<!-- End Sample Area -->
<!-- Start Align Area -->
<div class="whole-wrap">
    <div class="container">
        <div class="section-top-border">
            @*<h3 class="mb-30">Definition</h3>*@
            <div class="row">
                <div class="col-md-4">
                    <div class="single-defination">
                        <h4 class="mb-20">1993</h4>
                        <p>
                            GBDJB Accountancy & Consultancy opened for business.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-defination">
                        <h4 class="mb-20">1997</h4>
                        <p>
                            Moved into new offices.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-defination">
                        <h4 class="mb-20">2001</h4>
                        <p>
                            Merged with [ ] in Milton Keynes adding further expertise.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="single-defination">
                        <h4 class="mb-20">2004</h4>
                        <p>
                            Received recognition as one of the top employers in the region.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-defination">
                        <h4 class="mb-20">2007</h4>
                        <p>
                            Upgraded all management and accounts systems, thanks to the creation of our own in-house management system.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-defination">
                        <h4 class="mb-20">2008</h4>
                        <p>
                            Received royal visit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Align Area -->