<!-- Start post-content Area -->
<section class="post-content-area single-post-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 posts-list">
                <div class="single-post row">
                    <div class="col-lg-12">
                        <div class="feature-img">
                            <img class="img-fluid" src="~/img/blog/feature-img1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-9">
                        <a class="posts-title" href="#"><h3>Information</h3></a>
                        <p class="excert">
                            Our Services has a growing reputation as one of the region's most effective accountancy firms for individual clients and businesses.
                        </p>
                        <p>
                            Our firm expertly attends to all your <b>taxation and business queries.</b>
                        </p>
                        <p>
                            Thanks to the established expertise of <b>our experts</b>, our dedication and many years of <b>experience</b> in consulting and assessment, we can offer you support that you can rely on both with standard matters concerning your enterprise and complex business management assignments. We thus value highly the loyal consultancy of our clients.﻿ Quality consultancy based on <b>experience</b>: learn all about our firm's philosophy, priorities and tradition.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 sidebar-widgets">
                <div class="widget-wrap">
                    <div class="single-sidebar-widget newsletter-widget">
                        <h4 class="newsletter-title">News</h4>
                        <p>
                            We provide our clients with regular updates on changes in taxation regulation, news from the world of accounting and, of course, information about the latest developments at GBDJB Accountancy & Consultancy.
                        </p>
                        <p>
                            <b>Self-employed NIC penalties</b>
                        </p>
                        <p>
                            <i><b>From 6 April 2009 there is a change in the penalty to pay for late notification to the HMRC that you have commenced self-employment.</b></i>
                        </p>
                        <p>
                            <i><b>Up to 6 April 2009 the penalty was £100 and you had 3 months after commencement of trade to let HMRC know.</b></i>
                        </p>
                        <p>
                            From 6 April 2009 the rules have been changed as follows:
                            <div class="">
                                <ol class="ordered-list">
                                    <li><span>Anyone who ceases or becomes liable for Class 2 or Class 3 contributions must notify HMRC immediately.</span></li>
                                    <li><span>A penalty may be levied (between 30% and 100% of the "lost contributions") if notice is not given by 31 January following the end of the tax year in which you become liable.</span></li>
                                    <li><span>There will be no penalty if you have a reasonable excuse for the late notification.</span></li>
                                </ol>
                            </div>
                        </p>
                        <p>
                            You may find out about other changes in a consultation at our office.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End post-content Area -->