<br />
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 header-text text-center">
                <h2 class="mb-10">OUR INFORMATION</h2>
                <h4 class="mb-10">CAN KEEP YOU MODERNISED</h4>
                <h6 class="mb-10">We Keep You Updated</h6>
            </div>
        </div>
        <p class="sample-text">
            We provide our clients with regular updates on changes in taxation regulation, news from the world of accounting and, of course, information about the latest developments at GBDJB Accountancy & Consultancy.
        </p>
        <br />
        <h6 class="mb-10">Self-employed NIC penalties</h6>
        <p class="sample-text">
            From 6 April 2009 there is a change in the penalty to pay for late notification to the HMRC that you have commenced self-employment.
        </p>
        <p class="sample-text">
            Up to 6 April 2009 the penalty was £100 and you had 3 months after commencement of trade to let HMRC know.
        </p>
        <br />
        <div class="row">
            <div class="col-md-12 mt-sm-20 left-align-p">
                <h5>From 6 April 2009 the rules have been changed as follows:</h5>
                <br />
                <div class="col-md-12 mt-sm-30 typo-sec">
                    <div class="">
                        <ul class="ordered-list">
                            <li>Anyone who ceases or becomes liable for Class 2 or Class 3 contributions must notify HMRC immediately.</li>
                            <li>A penalty may be levied (between 30% and 100% of the "lost contributions") if notice is not given by 31 January following the end of the tax year in which you become liable.</li>
                            <li>There will be no penalty if you have a reasonable excuse for the late notification.</li>                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <p class="sample-text">You may find out about other changes in a consultation at our office.</p>
        <br />
    </div>
</section>
<!-- End Sample Area -->
