<br />
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 header-text text-center">
                <h2 class="mb-10">OUR TAX LINKS</h2>
                <h4 class="mb-10">CAN KEEP YOU UP TO DATE</h4>
            </div>
        </div>
        <br />        
        <div class="row">
            <div class="col-md-12 mt-sm-20 left-align-p">
                <h5>Here are a few useful links for finding out more about specific tax issues:</h5>
                <br />
                <div class="col-md-12 mt-sm-30 typo-sec">
                    <div class="">
                        <ul class="ordered-list">
                            <li>HM Revenue and Customs</li>
                            <li>
                                HMRC Online Payment Service
                                <p class="sample-text">
                                    You can now pay your tax bill by debit or credit card. Please note for credit cards a non-refundable transaction fee of 1.25% is added to the charge.
                                </p>
                            </li>
                            <li>
                                Taxation Web
                                <p class="sample-text">
                                    You can now pay your tax bill by debit or credit card. Please note for credit cards a non-refundable transaction fee of 1.25% is added to the charge.
                                </p>
                            </li>
                            <li>Business Rates Info</li>
                            <li>
                                Tax Indicator Document Archive
                                <p class="sample-text">
                                    Useful tax documents and aids
                                </p>
                            </li>
                            <li>
                                Offshore Companies
                                <p class="sample-text">
                                    Formations and lots of advice
                                </p>
                            </li>
                            <li>
                                Tax Aid
                                <p class="sample-text">
                                    UK charity providing free tax advice to people who cannot afford to pay a professional advisor
                                </p>
                            </li>
                            <li>
                                Professional Contractors Group
                                <p class="sample-text">
                                    Lots of IR35 assistance.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</section>
<!-- End Sample Area -->
