<br />
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 header-text text-center">
                <h2 class="mb-10">OUR ACCOUNTING SUPPORT SERVICE</h2>
                <h4 class="mb-10">CAN HELP ORGANISE YOUR BOOKS</h4>
            </div>
        </div>
        <p class="sample-text">
            This is one of our core services. We have several partners and accountants working in this area to ensure we can meet the region's needs in this area.
        </p>
        <br />
        <p class="sample-text">
            There are very few businesses that can afford in-house accounting departments. Our expertise fills that gap while providing a range of added value services in this area so that you are guaranteed a clear and accurate picture of your company's financial health.
        </p>
        <br />
        <p class="sample-text">
            Our accounting systems mean that we can produce reports in a variety of ways and at different times of the year, giving you more or less information as and when required.
        </p>
        <br />
        <div class="row">
            <div class="col-md-12 mt-sm-20 left-align-p">
                <h5>Our services in this area include:</h5>
                <br />
                <div class="col-md-12 mt-sm-30 typo-sec">
                    <div class="">
                        <ul class="ordered-list">
                            <li>Management Accounts (monthly, quarterly or on an annual basis)</li>
                            <li>Actual results / business plan or budget comparative analysis</li>
                            <li>Costing information including break even / turnover information</li>
                            <li>Branch / Divisional results</li>
                            <li>Book Keeping</li>
                            <li>Payroll</li>
                            <li>VAT Returns</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</section>
<!-- End Sample Area -->
