<br />
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 header-text text-center">
                <h2 class="mb-10">OUR ACCOUNTING SUPPORT SERVICE</h2>
                <h4 class="mb-10">CAN HELP ORGANISE YOUR BOOKS</h4>
            </div>
        </div>
        <p class="sample-text">
            Many people, especially those who are filing a return for the first time, find that self-assessment is a daunting and time-consuming task. Our experts ensure that your tax return is filed correctly and on time so that you do not incur any penalties. We will make all the tax calculations for you and advise you on your liabilities and how to plan for them.
        </p>
        <br />
        <p class="sample-text">
            Our experts will also advise you on ways to reduce the tax you owe. Simple steps can save you a lot of money when you have the right know-how at your finger-tips.
        </p>
        <br />
        <p class="sample-text">
            The sooner you contact us, the better we can prepare your tax returns. Phone us on +44 7811 368478 to make an appointment.
        </p>
        <br />
        <div class="row">
            <div class="col-md-12 mt-sm-20 left-align-p">
                <h5>Specific services:</h5>
                <br />
                <div class="col-md-12 mt-sm-30 typo-sec">
                    <div class="">
                        <ul class="ordered-list">
                            <li>Self-assessment</li>
                            <li>Trusts, estates and inheritance tax</li>
                            <li>Tax planning</li>
                            <li>HMRC enquiries and investigations</li>
                            <li>Tax investigation fees and insurance</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</section>
<!-- End Sample Area -->
