<br />
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 header-text text-center">
                <h2 class="mb-10">
                    OUR PARTNERS
                </h2>
                <h4 class="mb-10">
                    PROVES OUR BOND
                </h4>
                <br />
                <h6 class="mb-10">
                    MEET THE PARTNERS
                </h6>
            </div>
        </div>
        <p class="sample-text">
            Our team are dedicated to ensuring that you receive the right level of professional support so that your private and business needs are met.
        </p>
        <p class="sample-text">
            Each partner is specialised in a particular sector. With our many years of experience of working in the area, we have real insight into your concerns as a local business.
        </p>
        <p class="sample-text">
            As a friendly and helpful team, we know that much of our job lies in helping you to understand the tax maze so that we can work together on the simplest, most efficient way to take your business forward, year by year.
        </p>
    </div>
</section>
<!-- End Sample Area -->
<!-- Start feedback-area Area -->
<section class="feedback-area-area pt-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-feedback">
                    <img src="~/img/notfound.png" alt="">
                    <a href="#">
                        <h5 class="text-uppercase">
                            Mr Joseph Banwo
                        </h5>
                    </a>
                    <p>
                        Managing partner, chartered accountant
                    </p>
                    <p>
                        One of the founding partners of GBDJB Accountancy & Consultancy, he decided to launch the company after gaining a number of years of experience in a small accounting company.
                    </p>
                    <p>
                        He has always been interested in tax and seeks to reduce his clients' tax bills.
                    </p>
                    <p>
                        <b>Specialisations</b>: Corporate tax law, VAT, Payroll issues.
                    </p>
                </div>
            </div>
        </div>        
    </div>
</section>
<!-- End feedback-area Area -->
