<br />
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 header-text text-center">
                <h2 class="mb-10">
                    OUR CURRENT VACANCIES
                </h2>
                <h4 class="mb-10">
                    PROVES OUR DEVELOPMENT
                </h4>
            </div>
        </div>
        <p class="sample-text">
            Are you looking for professional responsibility and a good career in the fields of tax consultancy and accountancy? If you're personable, bright, friendly and have an eye for detail, we’re the right company for you:
        </p>
    </div>
</section>
<!-- End Sample Area -->
<!-- Start Align Area -->
<div class="whole-wrap">
    <div class="container">
        <div class="section-top-border">
            <div class="row">
                <div class="col-md-12 mt-sm-20 left-align-p">
                    <h5>
                        Accountant (m/f)
                    </h5>
                    <br />
                    <h6>
                        Responsibilities
                    </h6>
                    <br />
                    <p>
                        Initially you'll work in our Auditing and Accounts Department. Here you'll perform audit and tax compliance work as well as a range of accounts preparation tasks for key clients. There will soon be opportunities to go out to client offices and participate in in-house accounting teams
                    </p>
                    <div class="col-md-12 mt-sm-30 typo-sec">
                        <div class="">
                            <ul class="unordered-list">
                                <li>Current accounting</li>
                                <li>Generating monthly, quarterly and annual statements</li>
                                <li>Maintenance of main, credit and debit accounts, as well as asset accounting</li>
                            </ul>
                        </div>
                    </div>
                    <br />
                    <h6>Your profile</h6>
                    <br />
                    <div class="col-md-12 mt-sm-30 typo-sec">
                        <div class="">
                            <ul class="unordered-list">
                                <li>Graduate in a related field, (a 2:1 or higher in Business, Accounting, Maths, Economics preferred)</li>
                                <li>Team player with ability for self-motivation</li>
                                <li>Computer-literate in standard accountancy packages</li>
                            </ul>
                        </div>
                    </div>
                    <br />
                    <h6>Benefits</h6>
                    <br />
                    <div class="col-md-12 mt-sm-30 typo-sec">
                        <div class="">
                            <ul class="unordered-list">
                                <li>The opportunity to progress quickly in a highly rated company</li>
                                <li>Life and Health Insurance Packages</li>
                                <li>Competitive salary in relation to your experience</li>
                            </ul>
                        </div>
                    </div>
                    <br />
                    <p>
                        To apply, please send a completed application form with a covering letter, including details of your salary expectation to:
                    </p>
                    <div class="section-top-border">
                        <div class="row">
                            <div class="col-lg-12">
                                <blockquote class="generic-blockquote">
                                    <h6>GBDJB Accountancy & Consultancy</h6>
                                    <h6>Mr Joseph Banwo</h6>
                                    <h6>10 Brooklyn House, 31 Rillaton Walk</h6>
                                    <h6>Milton Keynes</h6>
                                    <h6>MK9 2BN</h6>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Align Area -->
