<br />
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 header-text text-center">
                <h2 class="mb-10">OUR RANGE OF SERVICES</h2>
                <h4 class="mb-10">CAN HELP GROW YOUR BUSINESS(ES)</h4>
            </div>
        </div>
        <p class="sample-text">
            Our clients include private individuals, individual companies, business partnerships and limited companies in various sectors. To find out more about the services we provide, please click on the sections below.
        </p>
        <br />
        <h6 class="mb-10">Tax consultancy</h6>
        <p class="sample-text">
            We offer a comprehensive range of tax consultancy services which take account of current developments.
        </p>
        <br />
        <h6 class="mb-10">Accounting</h6>
        <p class="sample-text">
            More than mere payroll and financial accounting: we go behind the figures to provide analyses that you can use as a performance management tool. We highlight trends, opportunities to enhance profit and also any potential threats.
        </p>
        <br />
        <p class="sample-text">
            The sooner you contact us, the better we can prepare your tax returns. Phone us on +44 7811 368478 to make an appointment.
        </p>
        <br />
        <div class="row justify-content-center">
            <div class="col-md-12 header-text text-center">
                <h4 class="mb-10">"We're in Business to help grow your Business(es)"</h4>                
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12 mt-sm-20 left-align-p">
                <h5>Additional services:</h5>
                <br />
                <div class="col-md-12 mt-sm-30 typo-sec">
                    <div class="">
                        <ul class="ordered-list">
                            <li>Training in Excel and Bookkeeping</li>
                            <li>Start-ups</li>
                            <li>Act as In-house Accounts Department</li>
                            <li>One to One Accountancy Tuition</li>
                            <li>Monthly and Quarterly Management Accounting</li>
                            <li>Internal Control</li>
                            <li>Process Documentation and Re-engineering</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</section>
<!-- End Sample Area -->
