<br />
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 header-text text-center">
                <h2 class="mb-10">OUR LEGALITY</h2>
                <h4 class="mb-10">SHOWS OUR CREDIBLITY</h4>
            </div>
        </div>
        <h6 class="mb-10">Name of Company</h6>
        <p class="sample-text">
            GBDJB Accountancy & Consultancy Services:
        </p>
        <br />
        <h6 class="mb-10">
            Registered office
        </h6>
        <p class="sample-text">
            10 Brooklyn House, 31 Rillaton Walk, Milton Keynes MK9 2BN
        </p>
        <br />
        <h6 class="mb-10">
            Contact details
        </h6>
        <p class="sample-text">
            Tel: +44 (0)7811 368478
        </p>
        <p class="sample-text">
            E-mail: banwoja@hotmail.com
        </p>
        <br />
    </div>
</section>
<!-- End Sample Area -->
